// 動畫

@mixin aniShake{
    animation: shake .8s;
    animation-iteration-count: infinite;
}

@mixin aniJump{
    animation: jump .8s;
}

@mixin aniFloat {
    animation: float 4s ease-in-out infinite;

}

// 泡泡-上下漂浮+旋轉
@mixin aniFloatRotate($rotate-angle) {
    animation: floatRotate-#{$rotate-angle} 10s ease-in-out infinite ;

    @keyframes floatRotate-#{$rotate-angle} {
        0% {
            transform: translateX(0px) rotate(0deg);
        }
        50% {
            transform: translateX(-60px) rotate(#{$rotate-angle});
        }
        100% {
            transform: translateX(0px) rotate(0deg);
        }
    }
}





@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-25deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(25deg);
    }

}

@keyframes jump {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(15deg);
    }

}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-15px);}
	60% {transform: translateY(-5px);}
}

@keyframes blob {
    0% {
        clip-path: polygon( 0.599% 22.6%,0.599% 22.6%,0.205% 26.723%,1.001% 30.815%,2.777% 34.887%,5.322% 38.949%,8.426% 43.014%,11.878% 47.092%,15.468% 51.194%,18.985% 55.332%,22.219% 59.517%,24.959% 63.76%,24.959% 63.76%,26.773% 67.426%,28.242% 71.21%,29.488% 75.036%,30.638% 78.826%,31.817% 82.506%,33.149% 85.998%,34.759% 89.226%,36.772% 92.114%,39.313% 94.586%,42.507% 96.565%,42.507% 96.565%,46.354% 98.141%,50.199% 99.209%,54.024% 99.803%,57.811% 99.958%,61.542% 99.708%,65.2% 99.088%,68.767% 98.131%,72.224% 96.872%,75.554% 95.346%,78.74% 93.587%,78.74% 93.587%,82.074% 91.46%,85.273% 89.131%,88.287% 86.59%,91.066% 83.829%,93.559% 80.837%,95.716% 77.606%,97.487% 74.126%,98.82% 70.387%,99.665% 66.381%,99.972% 62.097%,99.972% 62.097%,99.74% 57.38%,99.018% 52.661%,97.836% 47.969%,96.221% 43.331%,94.204% 38.778%,91.814% 34.339%,89.079% 30.041%,86.029% 25.915%,82.694% 21.989%,79.101% 18.292%,79.101% 18.292%,75.236% 14.822%,71.196% 11.68%,67.007% 8.879%,62.693% 6.436%,58.279% 4.365%,53.791% 2.682%,49.254% 1.402%,44.693% 0.54%,40.133% 0.11%,35.599% 0.129%,35.599% 0.129%,30.964% 0.557%,26.389% 1.343%,21.946% 2.505%,17.707% 4.06%,13.745% 6.025%,10.131% 8.417%,6.937% 11.253%,4.236% 14.551%,2.099% 18.328%,0.599% 22.6% );
    }
    
    100% {
        clip-path: polygon( 50px 0px, 450px 0px, 500px 0px, 500px 450px, 499px 498px, 0px 500px, 0px 450px, 0px 0px);

    }
}
